h1, h2, h3, p, ul, li {
  margin: 5px;
  padding: 0;
  line-height: 1.5;
}

body {
  background-color: maroon;
  font-family: Arial, sans-serif;
}

section {
  background-color: #DA9F0B;
}

ul, li {
  list-style-type: none;
}
